
.main-container{
    width: 75%;
    margin: auto;
}

.end {
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

.copy-right {
    text-align: center;
    padding: 15px 0;
    color: #333333;
    font-size: 12px;
    
}


.slider div {
    height: 300px;
    width: 300px;
    background: blue;
}
